{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "all",
  "importOrder": [
    "^(react/(.*)$)|^(react$)|^(react(.*)$)",
    "<THIRD_PARTY_MODULES>",
    "^types/(.*)$",
    "^constants/(.*)$",
    "^configs/(.*)$",
    "^hooks/(.*)$",
    "^store/(.*)$",
    "^utils/(.*)$",
    "^components/(.*)$",
    "^assets/(.*)$",
    "^modules/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
